[package]
name = "ezk-vulkan"
version = "0.1.0"
authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
ash = "0.38.0+1.3.281"
log = "0.4"

[lints]
workspace = true
